.todos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.title {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: bold;
}