.todos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    position: relative;
}

.title {
    width: 100%;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    color: rgb(39, 37, 37);
}

.todos-add-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 2rem;
    color: #7EB12C;
    cursor: pointer;
    transition: transform .4s;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.9);
    }
}

.todos-no-tasks {
    color: #a3a3a3;
    font-size: 1.2rem;
    text-align: center;
}

.todos__empty-div {
    width: 100%;
    height: 17%;
}