.week-day {
    display: flex;
    align-items: center;
    border: solid 1px;
    border-top: none;
    border-left: none;
    border-color: #e6e6e6;
    padding-left: 18px;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
    height: 100%;
}

.weekend {
    color: №f33;
}