.todo-item {
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: .5rem;
    background-color: #fff;
    cursor: pointer;

    .text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mark {
        margin-right: 1rem;
        color: #24577B;
        opacity: .4;
        cursor: pointer;
        transition: .4s;

        &:hover {
            transform: scale(1.1);
        }
    
        &:active {
            transform: scale(0.9);
        }
        
        &-complete {
            display: block;
            color: #7EB12C;
            margin-right: 1rem;
            border: none;
            cursor: pointer;
            opacity: .3;
            transition: .4s;

            &:hover {
                transform: scale(1.1);
            }
        
            &:active {
                transform: scale(0.9);
            }
        }
    }

    .delete {
        opacity: .3;
        margin-left: auto;
        color: #f33;
        cursor: pointer;
        transition: .4s;

        &:hover {
            transform: scale(1.1);
        }
    
        &:active {
            transform: scale(0.9);
        }
    }

    .completed {
        text-decoration: line-through;
        opacity: .3;
        transition: .4s;
    }

    &:hover .delete, &:hover .mark-complete, &:hover .completed, &:hover .mark {
        opacity: 1;
        transition: .4s;
    }
}