.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    height: 5rem;

    &__logo {
        width: 35.5rem;
        padding-left: 2.5rem;
    }

    &__info {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;

        .prev-btn {
            margin-right: 3rem;
            font-size: 2rem;
            cursor: pointer;

            &:active {
                transform: scale(0.9);
            }
        }

        .next-btn {
            font-size: 2rem;
            cursor: pointer;

            &:active {
                transform: scale(0.9);
            }
        }
    }

    &__month-year-wrap {
        text-align: center;
        margin-right: 3rem;
        width: 10rem;
        font-weight: bold;
    }

    &__month {
        margin-right: .5rem;
    }
}

