.dates {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 94.5%;
    text-align: center;
    background-color: #fff;
    grid-template-rows: repeat(6, 1fr);
    border: none;

    .date {
        position: relative;
        border: solid;
        border-width: 1px 1px 0 0;
        box-sizing: border-box;
        border-color: #e6e6e6;
        height: 100%;
        
        &-num {
            position: absolute;
            right: .5rem;
            top: .5rem;
            font-weight: bold;

            &-prev, &-next {
                color: rgb(104, 102, 102);
                font-weight: normal;
            }
        }
    }
}

