.organizer-section {
    width: 100%;
    height: 40%;
    background-color: #fff;
    border-radius: .4rem;
    padding: 1rem;
    box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
}