.organizer {
    width: 35rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2.5rem;
    transition: .4s;
    position: relative;

    &-btn {
        position: absolute;
        right: 3rem;
        bottom: 5rem;
        font-size: 2rem;
        z-index: 10;
        transition: .4s;
        color: rgb(91, 174, 209);
        cursor: pointer;

        &-show {
            right: -3rem;
            transition: .4s;
        }
    }
}

.hide {
    transition: .4s;
    margin-left: -35rem;
}

