.date {
    position: relative;
    border: solid;
    border-width: 1px 1px 0 0;
    box-sizing: border-box;
    border-color: #e6e6e6;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    transition: background-color .4s linear;

    &-selected {
        background-color: aliceblue;
    }
    
    &-num {
        position: absolute;
        right: .5rem;
        top: .5rem;
        font-weight: bold;
        text-align: center;
        font-size: 1.2rem;

        &-current {
            background-color: #f33;
            color: #fff;
            border-radius: 50%;
            padding: .2rem .4rem .2rem .4rem;
        }

        &-prev, &-next {
            color: darkgrey;
            font-weight: normal;
        }
    }
}

.date-wrap__tasks {
    margin-top: 1.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}