.todo-list-wrap {
    width: 238px;
    height: 150px;
    overflow: auto;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    opacity: 0;
    transition: opacity 50ms ease-in;
}

.empty {
    font-size: 1rem;
    line-height: 1.5;
    color: #a3a3a3;
}

.hide {
    display: none;
}