.editbox__task-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
} 

.editbox__task__name {
    font-weight: bold;
    font-size: 1.2rem;
}

.editbox__task__title, .editbox__task__description {
    width: 100%;
    font-size: 1.2rem;
    // border: .1rem solid black;
    // border-radius: .4rem;
    padding: .2rem;
}

.editbox__task__description {
    height: 47%;
}

.editbox__edit-btn {
    font-size: 2rem;
    cursor: pointer;

    &:active {
        transform: scale(0.9);
    }
}