.editbox__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.editbox__task-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
} 

.editbox__task__name {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: bold;
}

.editbox__task__title, .editbox__task__description {
    width: 100%;
    font-size: 1.2rem;
}

.editbox__task__title {
    word-wrap: break-word;
}

.editbox__task__description {
    height: 47%;
    word-wrap: break-word;
    overflow-y: auto;

    &-empty {
        color: #a3a3a3;
    }
}

.editbox__edit-btn {
    font-size: 2rem;
    cursor: pointer;
    color: #f33;
    transition: transform .4s;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.9);
    }
}